In [1]:
import pandas as pd
import os

In [8]:
#student_df = os.path.join('./Student_Data_Challenge_Starter_Code/Resources/new_full_student_data.csv')
#student_df = pd.read_csv(new_full_student_data)
#npsunitlist_df = pd.read_csv("../Final_Project/Resources/NPSCamp.csv"
Visitation = os.path.join('./Resources/Visitation By State and By Park (2017 - Last Calendar Year)_Cleaned.csv')
df = pd.read_csv(Visitation)
df

,State,Park,Recreation Visitors,Percent Change
0,Alabama,Horseshoe Bend NMP,"67,773",16.28%
1,Alabama,Little River Canyon NPRES,"726,239",-15.81%
2,Alabama,Natchez Trace PKWY,"458,046",2.22%
3,Alabama,Russell Cave NM,"16,988",-24.14%
4,Alabama,Tuskegee Airmen NHS,"16,137",100.29%
...,...,...,...,...
411,Wyoming,Fossil Butte NM,"17,879",-15.48%
412,Wyoming,Grand Teton NP,"2,806,223",-27.77%
413,Wyoming,"John D. Rockefeller, Jr. MEM PKWY","1,091,196",-31.97%
414,Wyoming,Yellowstone NP,"1,612,219",-32.30%
415,NaN,NaN,NaN,NaN

In [9]:
# United States of America Python Dictionary to translate States,
# Districts & Territories to Two-Letter codes and vice versa.
#
# Canonical URL: https://gist.github.com/rogerallen/1583593
#
# Dedicated to the public domain.  To the extent possible under law,
# Roger Allen has waived all copyright and related or neighboring
# rights to this code.  Data originally from Wikipedia at the url:
# https://en.wikipedia.org/wiki/ISO_3166-2:US
#
# Automatically Generated 2021-09-11 18:04:36 via Jupyter Notebook from
# https://gist.github.com/rogerallen/d75440e8e5ea4762374dfd5c1ddf84e0 

us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}
    
# invert the dictionary
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))

In [10]:
df['AbbreviatedState']=df['State'].map(us_state_to_abbrev)
df

,State,Park,Recreation Visitors,Percent Change,AbbreviatedState
0,Alabama,Horseshoe Bend NMP,"67,773",16.28%,AL
1,Alabama,Little River Canyon NPRES,"726,239",-15.81%,AL
2,Alabama,Natchez Trace PKWY,"458,046",2.22%,AL
3,Alabama,Russell Cave NM,"16,988",-24.14%,AL
4,Alabama,Tuskegee Airmen NHS,"16,137",100.29%,AL
...,...,...,...,...,...
411,Wyoming,Fossil Butte NM,"17,879",-15.48%,WY
412,Wyoming,Grand Teton NP,"2,806,223",-27.77%,WY
413,Wyoming,"John D. Rockefeller, Jr. MEM PKWY","1,091,196",-31.97%,WY
414,Wyoming,Yellowstone NP,"1,612,219",-32.30%,WY
415,NaN,NaN,NaN,NaN,NaN

In [12]:
#df.drop(['column_1', 'Column_2'], axis = 1, inplace = True)
df.drop(['State'], axis = 1, inplace = True)
df

,Park,Recreation Visitors,Percent Change,AbbreviatedState
0,Horseshoe Bend NMP,"67,773",16.28%,AL
1,Little River Canyon NPRES,"726,239",-15.81%,AL
2,Natchez Trace PKWY,"458,046",2.22%,AL
3,Russell Cave NM,"16,988",-24.14%,AL
4,Tuskegee Airmen NHS,"16,137",100.29%,AL
...,...,...,...,...
411,Fossil Butte NM,"17,879",-15.48%,WY
412,Grand Teton NP,"2,806,223",-27.77%,WY
413,"John D. Rockefeller, Jr. MEM PKWY","1,091,196",-31.97%,WY
414,Yellowstone NP,"1,612,219",-32.30%,WY
415,NaN,NaN,NaN,NaN

In [13]:
#df.rename(columns={'oldName1': 'newName1',
#                   'oldName2': 'newName2'},
#          inplace=True, errors='raise')
df.rename(columns={'AbbreviatedState': 'State'},
          inplace=True, errors='raise')
df

,Park,Recreation Visitors,Percent Change,State
0,Horseshoe Bend NMP,"67,773",16.28%,AL
1,Little River Canyon NPRES,"726,239",-15.81%,AL
2,Natchez Trace PKWY,"458,046",2.22%,AL
3,Russell Cave NM,"16,988",-24.14%,AL
4,Tuskegee Airmen NHS,"16,137",100.29%,AL
...,...,...,...,...
411,Fossil Butte NM,"17,879",-15.48%,WY
412,Grand Teton NP,"2,806,223",-27.77%,WY
413,"John D. Rockefeller, Jr. MEM PKWY","1,091,196",-31.97%,WY
414,Yellowstone NP,"1,612,219",-32.30%,WY
415,NaN,NaN,NaN,NaN

In [14]:
df=df[['State', 'Park', 'Recreation Visitors', 'Percent Change']]
df

,State,Park,Recreation Visitors,Percent Change
0,AL,Horseshoe Bend NMP,"67,773",16.28%
1,AL,Little River Canyon NPRES,"726,239",-15.81%
2,AL,Natchez Trace PKWY,"458,046",2.22%
3,AL,Russell Cave NM,"16,988",-24.14%
4,AL,Tuskegee Airmen NHS,"16,137",100.29%
...,...,...,...,...
411,WY,Fossil Butte NM,"17,879",-15.48%
412,WY,Grand Teton NP,"2,806,223",-27.77%
413,WY,"John D. Rockefeller, Jr. MEM PKWY","1,091,196",-31.97%
414,WY,Yellowstone NP,"1,612,219",-32.30%
415,NaN,NaN,NaN,NaN

In [15]:
df.to_csv('./Resources/NPSUnitList_Cleaned_4_11_23.csv', index=False)