In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd

In [23]:
NPSUnitList_df = pd.read_csv("./Resources/NPSUnitList_Cleaned2.csv")
visitation_df = pd.read_csv("./Resources/Visitation By State and By Park (2017 - Last Calendar Year)_Cleaned.csv")
NPSCamp_df = pd.read_csv("./Resources/NPSCamp.csv")

In [30]:
NPSUnitList_df.head()

,Name,Type,Park Code,Org Code,Region,Park,NameCode
0,ABRAHAM LINCOLN BIRTHPLACE,NHP,ABLI,5540,SER,ABRAHAM LINCOLN BIRTHPLACE NHP,ABRAHAM LINCOLN BIRTHPLACE ABLI
1,ACADIA,NP,ACAD,1700,NER,ACADIA NP,ACADIA ACAD
2,ADAMS,NHP,ADAM,1710,NER,ADAMS NHP,ADAMS ADAM
3,AFRICAN BURIAL GROUND,NM,AFBG,1762,NER,AFRICAN BURIAL GROUND NM,AFRICAN BURIAL GROUND AFBG
4,AGATE FOSSIL BEDS,NM,AGFO,6710,MWR,AGATE FOSSIL BEDS NM,AGATE FOSSIL BEDS AGFO

In [18]:
visitation_df.head()

     State                       Park Recreation Visitors Percent Change
0  Alabama         Horseshoe Bend NMP              67,773         16.28%
1  Alabama  Little River Canyon NPRES             726,239        -15.81%
2  Alabama         Natchez Trace PKWY             458,046          2.22%
3  Alabama            Russell Cave NM              16,988        -24.14%
4  Alabama        Tuskegee Airmen NHS              16,137        100.29%

In [29]:
NPSCamp_df.head()

,name,parkCode,state,longitude,latitude,totalSites,tentOnly,electricalHookups,showers,dumpStation,host,potableWater,firewoodForSale,reservationUrl,NameCode
0,277 North Campground,amis,NaN,-100.908166,29.512374,18,0,0,['None'],No,No,['No water'],No,https://www.recreation.gov/camping/campgrounds...,277 North Campground amis
1,Abrams Creek Campground,grsm,TN,-83.933183,35.610747,16,0,0,['None'],No,Yes - seasonal,['Yes - seasonal'],No,https://www.recreation.gov/camping/campgrounds...,Abrams Creek Campground grsm
2,Adirondack Shelters,cato,MD,-77.484627,39.677750,2,0,0,['None'],No,No,['No water'],No,https://www.recreation.gov/camping/campgrounds...,Adirondack Shelters cato
3,Afterbay Campground,bica,MT,-107.941659,45.315438,22,0,22,['None'],Yes - seasonal,Yes - seasonal,['Yes - seasonal'],No,NaN,Afterbay Campground bica
4,Akers Group Campground,ozar,MO,-91.561546,37.376455,4,4,0,['None'],No,No,['Yes - seasonal'],Yes - seasonal,https://www.recreation.gov/camping/campgrounds...,Akers Group Campground ozar

In [6]:
# Drop the non-beneficial column
#NPSUnitList_df = NPSUnitList_df.drop(['Unnamed: 0'], axis=1)
#NPSUnitList_df.head()

In [7]:
visitation_df.dtypes

State                  object
Park                   object
Recreation Visitors    object
Percent Change         object
dtype: object

In [8]:
NPSUnitList_df.dtypes

Name         object
Type         object
Park Code    object
Org Code     object
Region       object
Park         object
dtype: object

In [20]:
NPSUnitList_df['Park'] = NPSUnitList_df['Park'].astype(str)
visitation_df['Park'] = visitation_df['Park'].astype(str)

In [37]:
visitation_df['Park'] = visitation_df['Park'].str.lower()
NPSUnitList_df['Park'] = NPSUnitList_df['Park'].str.lower()
#df_merged = df_address.merge(df_CountryMapping, left_on="country_lower", right_on="name_lower", how="left")
parkVisitation_df=visitation_df.merge(NPSUnitList_df, on='Park', how='left')
parkVisitation_df.head()

,State,Park,Recreation Visitors,Percent Change,Name,Type,Park Code,Org Code,Region,NameCode
0,Alabama,horseshoe bend nmp,"67,773",16.28%,HORSESHOE BEND,NMP,HOBE,5480,SER,HORSESHOE BEND HOBE
1,Alabama,little river canyon npres,"726,239",-15.81%,LITTLE RIVER CANYON,NPRES,LIRI,5279,SER,LITTLE RIVER CANYON LIRI
2,Alabama,natchez trace pkwy,"458,046",2.22%,NaN,NaN,NaN,NaN,NaN,NaN
3,Alabama,russell cave nm,"16,988",-24.14%,RUSSELL CAVE,NM,RUCA,5660,SER,RUSSELL CAVE RUCA
4,Alabama,tuskegee airmen nhs,"16,137",100.29%,TUSKEGEE AIRMEN,NHS,TUAI,5682,SER,TUSKEGEE AIRMEN TUAI

In [38]:
NPSUnitList_df["NameCode"]=NPSUnitList_df['Name'].astype(str).str.rstrip()+" "+NPSUnitList_df["Park Code"]
NPSCamp_df["NameCode"]=NPSCamp_df['name'].astype(str).str.rstrip()+" "+NPSCamp_df["parkCode"]

In [40]:
NPSUnitList_df.merge(NPSCamp_df, on='NameCode', how='left')

,Name,Type,Park Code,Org Code,Region,Park,NameCode,name,parkCode,state,...,latitude,totalSites,tentOnly,electricalHookups,showers,dumpStation,host,potableWater,firewoodForSale,reservationUrl
0,ABRAHAM LINCOLN BIRTHPLACE,NHP,ABLI,5540,SER,abraham lincoln birthplace nhp,ABRAHAM LINCOLN BIRTHPLACE ABLI,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACADIA,NP,ACAD,1700,NER,acadia np,ACADIA ACAD,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADAMS,NHP,ADAM,1710,NER,adams nhp,ADAMS ADAM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFRICAN BURIAL GROUND,NM,AFBG,1762,NER,african burial ground nm,AFRICAN BURIAL GROUND AFBG,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGATE FOSSIL BEDS,NM,AGFO,6710,MWR,agate fossil beds nm,AGATE FOSSIL BEDS AGFO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,WUPATKI,NM,WUPA,7475,IMR,wupatki nm,WUPATKI WUPA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,YELLOWSTONE,NP,YELL,1570 - 1581,IMR,yellowstone np,YELLOWSTONE YELL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,YOSEMITE,NP,YOSE,8895,PWR,yosemite np,YOSEMITE YOSE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,YUCCA HOUSE,NM,YUHO,1499,IMR,yucca house nm,YUCCA HOUSE YUHO,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,ZION,NP,ZION,1590-1596,IMR,zion np,ZION ZION,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN