In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
#  Import and read the charity_data.csv.
import pandas as pd

In [3]:
NPSUnitList_df = pd.read_csv("./Resources/NPSUnitList_Cleaned2.csv")
visitation_df = pd.read_csv("./Resources/Visitation By State and By Park (2017 - Last Calendar Year)_Cleaned.csv")
NPSCamp_df = pd.read_csv("./Resources/NPSCamp.csv")

In [4]:
NPSUnitList_df.head()

,Name,Type,Park Code,Org Code,Region,Park
0,ABRAHAM LINCOLN BIRTHPLACE,NHP,ABLI,5540,SER,ABRAHAM LINCOLN BIRTHPLACE NHP
1,ACADIA,NP,ACAD,1700,NER,ACADIA NP
2,ADAMS,NHP,ADAM,1710,NER,ADAMS NHP
3,AFRICAN BURIAL GROUND,NM,AFBG,1762,NER,AFRICAN BURIAL GROUND NM
4,AGATE FOSSIL BEDS,NM,AGFO,6710,MWR,AGATE FOSSIL BEDS NM

In [5]:
visitation_df.head()

     State                       Park Recreation Visitors Percent Change
0  Alabama         Horseshoe Bend NMP              67,773         16.28%
1  Alabama  Little River Canyon NPRES             726,239        -15.81%
2  Alabama         Natchez Trace PKWY             458,046          2.22%
3  Alabama            Russell Cave NM              16,988        -24.14%
4  Alabama        Tuskegee Airmen NHS              16,137        100.29%

In [6]:
NPSCamp_df.head()

,name,parkCode,state,longitude,latitude,totalSites,tentOnly,electricalHookups,showers,dumpStation,host,potableWater,firewoodForSale,reservationUrl
0,277 North Campground,amis,NaN,-100.908166,29.512374,18,0,0,['None'],No,No,['No water'],No,https://www.recreation.gov/camping/campgrounds...
1,Abrams Creek Campground,grsm,TN,-83.933183,35.610747,16,0,0,['None'],No,Yes - seasonal,['Yes - seasonal'],No,https://www.recreation.gov/camping/campgrounds...
2,Adirondack Shelters,cato,MD,-77.484627,39.677750,2,0,0,['None'],No,No,['No water'],No,https://www.recreation.gov/camping/campgrounds...
3,Afterbay Campground,bica,MT,-107.941659,45.315438,22,0,22,['None'],Yes - seasonal,Yes - seasonal,['Yes - seasonal'],No,NaN
4,Akers Group Campground,ozar,MO,-91.561546,37.376455,4,4,0,['None'],No,No,['Yes - seasonal'],Yes - seasonal,https://www.recreation.gov/camping/campgrounds...

In [7]:
# Drop the non-beneficial column
NPSUnitList_df = NPSUnitList_df.drop(['Unnamed: 0'], axis=1)
NPSUnitList_df.head()

KeyError: "['Unnamed: 0'] not found in axis"

In [14]:
visitation_df.dtypes

State                  object
Park                   object
Recreation Visitors    object
Percent Change         object
dtype: object

In [13]:
NPSUnitList_df.dtypes

Name         object
Type         object
Park Code    object
Org Code     object
Region       object
Park         object
dtype: object

In [12]:
NPSUnitList_df['Park'] = NPSUnitList_df['Park'].astype(str)
visitation_df['Park'] = visitation_df['Park'].astype(str)

In [10]:
visitation_df.merge(NPSUnitList_df, on='Park', how='left')

,Name,Type,Park Code,Org Code,Region,Park,State,Recreation Visitors,Percent Change
0,ABRAHAM LINCOLN BIRTHPLACE,NHP,ABLI,5540,SER,ABRAHAM LINCOLN BIRTHPLACE NHP,NaN,NaN,NaN
1,ACADIA,NP,ACAD,1700,NER,ACADIA NP,NaN,NaN,NaN
2,ADAMS,NHP,ADAM,1710,NER,ADAMS NHP,NaN,NaN,NaN
3,AFRICAN BURIAL GROUND,NM,AFBG,1762,NER,AFRICAN BURIAL GROUND NM,NaN,NaN,NaN
4,AGATE FOSSIL BEDS,NM,AGFO,6710,MWR,AGATE FOSSIL BEDS NM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
360,WUPATKI,NM,WUPA,7475,IMR,WUPATKI NM,NaN,NaN,NaN
361,YELLOWSTONE,NP,YELL,1570 - 1581,IMR,YELLOWSTONE NP,NaN,NaN,NaN
362,YOSEMITE,NP,YOSE,8895,PWR,YOSEMITE NP,NaN,NaN,NaN
363,YUCCA HOUSE,NM,YUHO,1499,IMR,YUCCA HOUSE NM,NaN,NaN,NaN
364,ZION,NP,ZION,1590-1596,IMR,ZION NP,NaN,NaN,NaN