In [11]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
#  Import and read the charity_data.csv.
import pandas as pd

In [12]:
NPSUnitList_df = pd.read_csv("./Resources/NPSUnitList_Cleaned2.csv")
visitation_df = pd.read_csv("./Resources/Visitation By State and By Park (2017 - Last Calendar Year)_Cleaned.csv")
NPSCamp_df = pd.read_csv("./Resources/NPSCamp.csv")

In [13]:
NPSUnitList_df.head()

,Name,Type,Park Code,Org Code,Region,Park
0,ABRAHAM LINCOLN BIRTHPLACE,NHP,ABLI,5540,SER,ABRAHAM LINCOLN BIRTHPLACE NHP
1,ACADIA,NP,ACAD,1700,NER,ACADIA NP
2,ADAMS,NHP,ADAM,1710,NER,ADAMS NHP
3,AFRICAN BURIAL GROUND,NM,AFBG,1762,NER,AFRICAN BURIAL GROUND NM
4,AGATE FOSSIL BEDS,NM,AGFO,6710,MWR,AGATE FOSSIL BEDS NM

In [14]:
visitation_df.head()

     State                       Park Recreation Visitors Percent Change
0  Alabama         Horseshoe Bend NMP              67,773         16.28%
1  Alabama  Little River Canyon NPRES             726,239        -15.81%
2  Alabama         Natchez Trace PKWY             458,046          2.22%
3  Alabama            Russell Cave NM              16,988        -24.14%
4  Alabama        Tuskegee Airmen NHS              16,137        100.29%

In [15]:
NPSCamp_df.head()

,name,parkCode,state,longitude,latitude,totalSites,tentOnly,electricalHookups,showers,dumpStation,host,potableWater,firewoodForSale,reservationUrl
0,277 North Campground,amis,NaN,-100.908166,29.512374,18,0,0,['None'],No,No,['No water'],No,https://www.recreation.gov/camping/campgrounds...
1,Abrams Creek Campground,grsm,TN,-83.933183,35.610747,16,0,0,['None'],No,Yes - seasonal,['Yes - seasonal'],No,https://www.recreation.gov/camping/campgrounds...
2,Adirondack Shelters,cato,MD,-77.484627,39.677750,2,0,0,['None'],No,No,['No water'],No,https://www.recreation.gov/camping/campgrounds...
3,Afterbay Campground,bica,MT,-107.941659,45.315438,22,0,22,['None'],Yes - seasonal,Yes - seasonal,['Yes - seasonal'],No,NaN
4,Akers Group Campground,ozar,MO,-91.561546,37.376455,4,4,0,['None'],No,No,['Yes - seasonal'],Yes - seasonal,https://www.recreation.gov/camping/campgrounds...

In [4]:
# Drop the non-beneficial column
NPSUnitList_df = NPSUnitList_df.drop(['Unnamed: 0'], axis=1)
NPSUnitList_df.head()

,Name,Type,Park Code,Org Code,Region,NameType
0,ABRAHAM LINCOLN BIRTHPLACE,NHP,ABLI,5540,SER,ABRAHAM LINCOLN BIRTHPLACE NHP
1,ACADIA,NP,ACAD,1700,NER,ACADIA NP
2,ADAMS,NHP,ADAM,1710,NER,ADAMS NHP
3,AFRICAN BURIAL GROUND,NM,AFBG,1762,NER,AFRICAN BURIAL GROUND NM
4,AGATE FOSSIL BEDS,NM,AGFO,6710,MWR,AGATE FOSSIL BEDS NM

In [44]:
visitation_df.dtypes

State                  object
Park                   object
Recreation Visitors    object
Percent Change         object
dtype: object

In [43]:
NPSUnitList_df['Park'] = NPSUnitList_df['Park'].astype(str)
visitation_df['Park'] = visitation_df['Park'].astype(str)

In [47]:
visitation_df.merge(NPSUnitList_df, on='Park', how='left')

,State,Park,Recreation Visitors,Percent Change,Name,Type,Park Code,Org Code,Region
0,Alabama,Horseshoe Bend NMP,"67,773",16.28%,NaN,NaN,NaN,NaN,NaN
1,Alabama,Little River Canyon NPRES,"726,239",-15.81%,NaN,NaN,NaN,NaN,NaN
2,Alabama,Natchez Trace PKWY,"458,046",2.22%,NaN,NaN,NaN,NaN,NaN
3,Alabama,Russell Cave NM,"16,988",-24.14%,NaN,NaN,NaN,NaN,NaN
4,Alabama,Tuskegee Airmen NHS,"16,137",100.29%,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
411,Wyoming,Fossil Butte NM,"17,879",-15.48%,NaN,NaN,NaN,NaN,NaN
412,Wyoming,Grand Teton NP,"2,806,223",-27.77%,NaN,NaN,NaN,NaN,NaN
413,Wyoming,"John D. Rockefeller, Jr. MEM PKWY","1,091,196",-31.97%,NaN,NaN,NaN,NaN,NaN
414,Wyoming,Yellowstone NP,"1,612,219",-32.30%,NaN,NaN,NaN,NaN,NaN
415,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN